h1 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  margin: 24px 0;
}

.bold-paragraph {
  color: #67df0b;
}

#bold {
  background-color: #384359;
  color: rgb(40, 39, 39);
}

img {
  width: 100%;
}
